.logo {
    width: 120px;
}

.ImageCarou {
    min-height: 20vh;
    background-size: cover;
}

body {
    background-color: black;
}

.course {
    min-height: 120vh;
    width: 100%;
    background: url(/assets/img/course.jpg) no-repeat center;
    background-size: cover;
}

.merco {
    min-height: 120vh;
    width: 100%;
    background: url(/assets/img/merco.jpg) no-repeat center;
    background-size: cover;
}

.conduite {
    min-height: 120vh;
    width: 100%;
    background: url(/assets/img/conduit.jpg) no-repeat center;
    background-size: cover;
}

.circuit {
    min-height: 60vh;
    width: 100%;
    background: url(/assets/img/circuit1.jpg) no-repeat center;
    background-size: cover;
}

.ferrari {
	min-height: 50vh;
	background: url(/assets/img/ferari.jpg) no-repeat center;
	background-size: cover;
}

.title1 {
    color: rgb(251, 255, 0);
}
.title2 {
    color: rgb(220, 20, 20);
}


.Features {
    display: grid;
    grid-template: 200px / 1fr 1fr 1fr;
    grid-gap: 30px;
}

.volant {
    min-height: 20vh;
    width: 20%;
    background: url(/assets/img/volant.png) no-repeat center;
    background-size: cover;
}

.GridServices {
    display: grid;
    grid-template: 400px / 25% 25% 25% 25%;
    grid-gap: 20px;
}

.greybg {
    background-color: rgb(39, 39, 39);
}

@media screen and (max-width: 1001px) {

    .Features {
        grid-template: 50vh 50vh 50vh 50vh 50vh 50vh / 2fr;
    }

    .GridServices {
        grid-template: 120vh 120vh 120vh 120vh / 50%;
    }

    .card {
        margin-left: 6em;
    }
}